.nav-wrapper nav li a:hover {
  background-color: #000;
  color: #fff !important;
  text-decoration: none;
  cursor: pointer;
}

.nav-wrapper nav li a.active {
  font-weight: 600;
  border-bottom: 2px solid #000;
  color: #000 !important;
}
